<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <h2 class="my-2" style="text-align: center; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); padding-bottom: 10px;"><b>Instruments and methods of observation</b></h2>
    <div class="container-fluid" style="width: 50%; margin-top: 1%;">
        <form style="margin-top: 4%;">
            <div class="form-group">
                <label for="Source"> 5-01 Source of observation *</label>
                <input type="text" class="form-control" id="Source" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="Measurement"> 5-02 Measurement/observing method *</label>
                <input type="text" class="form-control" id="Measurement">
            </div>
            <div class="form-group">
                <label for="Instrument"> 5-03 Instrument specifications</label>
                <input type="text" class="form-control" id="Instrument">
            </div>
            <div class="form-group">
                <label for="operating"> 5-04 Instrument operating status </label>
                <input type="text" class="form-control" id="operating">
            </div>
            <div class="form-group">
                <label for="Vertical"> 5-05 Vertical distance of sensor</label>
                <input type="text" class="form-control" id="Vertical">
            </div>
            <div class="form-group">
                <label for="Configuration"> 5-06 Configuration of instrumentation</label>
                <input type="text" class="form-control" id="Configuration">
            </div>
            <div class="form-group">
                <label for="control"> 5-07 Instrument control schedule </label>
                <input type="text" class="form-control" id="control">
            </div>
            <div class="form-group">
                <label for="result"> 5-08 Instrument control result</label>
                <input type="text" class="form-control" id="result">
            </div>
            <div class="form-group">
                <label for="serial"> 5-09 Instrument model and serial number</label>
                <input type="text" class="form-control" id="serial">
            </div>
            <div class="form-group">
                <label for="routine"> 5-10 Instrument routine maintenance </label>
                <input type="text" class="form-control" id="routine">
            </div>
            <div class="form-group">
                <label for="Maintenance"> 5-11 Maintenance party</label>
                <input type="text" class="form-control" id="Maintenance">
            </div>
            <div class="form-group">
                <label for="serial"> 5-09 Instrument model and serial number</label>
                <input type="text" class="form-control" id="serial">
            </div>
            <div class="form-group">
                <label for="serial"> 5-09 Instrument model and serial number</label>
                <input type="text" class="form-control" id="serial">
            </div>
            <div class="form-group">
                <label for="serial"> 5-09 Instrument model and serial number</label>
                <input type="text" class="form-control" id="serial">
            </div>
            <div class="form-group">
                <label for="serial"> 5-09 Instrument model and serial number</label>
                <input type="text" class="form-control" id="serial">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>